body
    background-color:rgb(248, 211, 156)


main 
    background-color:rgb(248, 211, 156)
    background-repeat: no-repeat
    background-image: url("../img/up.png"), url("../img/horizontal.png"), url("../img/vertikal.png"), url("../img/vertikal.png"), url("../img/left.png"), url("../img/right.png")
    background-position: center top, bottom center, left center, right center, bottom left, bottom right
    padding: 100px 200px


h1 
    color:rgb(88, 46, 15)
    text-align: center
    font-size:medium


h3 
    color:rgb(88, 46, 15)
    text-align: center
    font-size:medium


p 
    color: rgb(88, 46, 15)
    font-size: medium


a 
    font-style: bold
    text-decoration: none
    color:rgb(248, 211, 156)
    font-size:medium


.div1 
    width: 90%
    height: 150px
    margin: auto


.div1:hover 
    background-color:rgb(255, 255, 255)
    width: 100%
    height: 170px
    border-radius: 5px
    padding: 5px


.div2 
    width: 90%
    height: 140px
    margin: auto
    transition: height 1s, width 1s, transform 1s
    color:rgb(88, 46, 15)


.div2:hover 
    background-color:rgb(255, 255, 255)
    width: 100%
    height: 150px
    border-radius: 5px
    padding: 5px



.button 
    color:rgb(88, 46, 15)
    border: 2px outset 
    margin: 2px
    border-radius: 25px
    padding: 5px 10px
    text-align: center
    display: inline-block
    

.button:hover 
    color:rgb(156, 98, 57)
    border: 1px inset  rgb(61, 37, 21)


li 
    color:rgb(88, 46, 15)
    font-size: medium
    font-style:normal

section 
    text-align: center
    width: 90%
    

footer 
    text-align: center
    font-style: bold
    color: rgb(88, 46, 15)
    padding: 30px
